body {
    font-size:12px;
}

.row-sm {
    width: 400px;
    margin:0 auto;
}

.btn-centered {
    display: block;
    margin:0 auto;
}

.row-first {
    margin-top: 25px;
}

pre code {
    font-size:10px;
}

.peekaboo-container,
.teapot-container,
.lorem-container {
    display: none;
}

.teapot-container {
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}

.peekaboo-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #08a;
    color: #fff;
    padding: 10px;
}

.lorem-container {
    width:450px;
    background-color:#fff;
}

.examples {
    width:325px;
    margin: 0 auto;
}

.shadow-close {
    font-weight: bolder;
    font-size: 16px;
    color: #000;
    z-index: 25;
    cursor: pointer;
}

.notes {
    list-style:none;
}