body {
    font-size:12px;
}

.row-sm {
    width: 400px;
    margin:0 auto;
}

.btn-centered {
    display: block;
    margin:0 auto;
}

.row-first {
    margin-top: 25px;
}

pre code {
    font-size:10px;
}

.shadow-content {
    display: none;
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    width: 400px;
}